* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  max-width: 100%;
}

.con-hero {
  margin: 3em;
  border: 2px solid red;
}