//Marlin Geo

@font-face {
    font-family: marlin-lt;
    src: url(../FONTS/GeneralSans-Light.otf);
}

@font-face {
    font-family: marlin-med;
    src: url(../FONTS/GeneralSans-Medium.otf);
}

@font-face {
    font-family: marlin-reg;
    src: url(../FONTS/GeneralSans-Regular.otf);
}

@font-face {
    font-family: marlin-sbold;
    src: url(../FONTS/GeneralSans-Semibold.otf);
}

@font-face {
    font-family: marlin-bold;
    src: url(../FONTS/GeneralSans-Bold.otf);
}

//Rubik Font
// @font-face {
//     font-family: 'Rubik', sans-serif;
//     src: url(../FONTS/);
// }