//Text Colors
$text-clr-primary: #2f2f2f;
$text-clr-secondary: #535353;
$text-clr-black: #000000;
$text-clr-white: #ffffff;


//Gradient Colors
$grad-primary: #965DE9;
$grad-secondary: #6358EE;


//Box Border Radius
$box-rad-primary: .5rem;

//Line Colors
$line-clr-primary: #6c6c6c;